<div class="col-md-6">
    <div class="alert alert-danger" role="alert" *ngIf="this.error">
        {{errorMessage}}
       </div>
    <!-- <button class="btn btn-success" (click)="getAllStudent()">Get Details</button> -->
      <div class="panel panel-primary">
          <div class="panel-heading">Payment Info</div>
          <div class="panel-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>CourseId</th>
                  <th>Amount</th>
                  <th>Status</th>
                  <th>Mode</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let payment of payments">
                    <td>{{payment.courseId}}</td>
                  <td>{{payment.amount}}</td>
                  <td>{{payment.result}}</td>
                  <td>{{payment.mode}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </div>
  